<div class="container">
  <h1>Editing post</h1>
  <%# passes post as local variable %>
  <%= render "form", post: @post %>
  <br>
  <div>
    <%= link_to "Show this post", @post %> |
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>
